<ion-view view-title="Login"  class="step1trip" align-title="left">
  <ion-content style="background: url(img/hotel.png) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>Scannez votre ticket</h1>
      </div>
    </div>
      <div class="img-center">
        <a ng-click="$ctrl.scanBarcode()"> <img style="width: 100px" src="img/Scan_billet.png"></a>
      </div>
    <div class="text-center"> ou </div>
    <div class="text-center"> Rentrer votre numero de reservation</div>

    <div class="list padding row row-center">
      <ion-md-input type="text" placeholder="N° de réservation" ng-model="$ctrl.reservationNumber" ></ion-md-input>

    </div>
    <div class="padding ">
      <button   ng-click="$ctrl.validateReservationNumber($ctrl.reservationNumber)" class="button button-full button-assertive ink">Valider</button>
    </div>
  </ion-content>
</ion-view>
