

<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/hotel.png) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>Scanner votre ticket</h1>
      </div>
    </div>
    <div class="padding">
      <button class="button button-full   icon ion-ios-infinite button-block" ng-click="$ctrl.scanBarcode()"></button>
    </div>
    <div class="text-center"> ou </div>
    <div class="text-center"> Rentrer votre numero de reservation</div>

    <div class="list padding row row-center">
      <ion-md-input type="text" placeholder="N° de réservation" ng-model="$ctrl.reservationNumber" ></ion-md-input>

    </div>
    <div class="padding ">
      <button   ng-click="$ctrl.validateReservationNumber($ctrl.reservationNumber)" class="button button-full button-assertive ink">Valider</button>
    </div>
  </ion-content>
</ion-view>
