<ion-view>
  <ion-content>
    <div>

      <div class="row">
        <div class="col col-33 col-offset-33">Scanner votre ticket</div>
      </div>
      <button class="button icon ion-ios-infinite button-block" ng-click="$ctrl.scanBarcode()"></button>
    </div>

    <hr/>

    <div>
      <div class="row">

        <div class="col col-60 col-offset-20">
          <input type="text" placeholder="N° de réservation" ng-model="$ctrl.reservationNumber"/>
        </div>
      </div>

      <button class="button button-block button-positive"
              ng-click="$ctrl.validateReservationNumber($ctrl.reservationNumber)">
        VALIDER
      </button>

    </div>
  </ion-content>
</ion-view>

