<ion-view view-title="Hotels" style="height:40%; border:black 1px solid;">
  <ion-content scroll="false">
    <div>
      <h1>Hotel</h1>
      <div class="hotel-question" ng-show="$ctrl.showHotelquestion">
        <div class="hotel-message">
          <h2 class="align-center">Voulez vous un hôtel ?</h2>
        </div>
        <div>
          <div class="row">
            <div class="col-50 align-center padding-horizontal">
              <button class="button button-block button-positive" ng-click="$ctrl.confirmHotel()">OUI</button>
            </div>
            <div class="col-50 align-center padding-horizontal">
              <button class="button button-block button-positive" ng-click="$ctrl.cancelHotel()">NON</button>
            </div>
          </div>

        </div>

      </div>
      <div class="bar bar-footer">
        <div class="row">
          <div class="col-33 align-center padding-horizontal">
            <button class="button button-block button-outline button-positive">top</button>
          </div>
          <div class="col-33 align-center padding-horizontal">
            <button class="button button-block button-outline button-positive">hôtel</button>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>

<ion-view style="top:40%">
  <ion-content>
    <ion-list ng-if="$ctrl.hotels.length > 0" class="hotel-list">
      <ion-item
        class="margin-vertical-none border-vertical-none no-padding"
        ng-repeat="hotel in $ctrl.hotels track by $index"
        ng-click="$ctrl.gethotelDetails($index)">
        <div class="card">
          <div class="item item-image">
            <img class="carded" ng-src="{{hotel.imgUrl}}" smt-error-src="img/no-image.png"/>
          </div>
          <h2 class="padding-horizontal">{{ hotel.label }}</h2>
          <h3 class="dark padding-horizontal">{{ hotel.address}}</h3>
          <span class="item assertive">
            <i class="icon ion-star" ng-class=" hotel.rate >=1 ? 'energized' : 'stable' "></i>
            <i class="icon ion-star" ng-class=" hotel.rate >=2 ? 'energized' : 'stable' "></i>
            <i class="icon ion-star" ng-class=" hotel.rate >=3 ? 'energized' : 'stable' "></i>
            <i class="icon ion-star" ng-class=" hotel.rate >=4 ? 'energized' : 'stable' "></i>
            <i class="icon ion-star" ng-class=" hotel.rate >=5 ? 'energized' : 'stable' "></i>

          </span>
          <button class="button " ng-click="$ctrl.selectHotel(hotel)">SELECTIONNER</button>

        </div>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
<div class="bar bar-footer">
  <div class="row">
    <smt-wallet-footer money="$ctrl.userSrv.computeMoney()" network-data="$ctrl.userSrv.networkData"></smt-wallet-footer>
  </div>
</div>


