<ion-view view-title="Search">
  <ion-content>
    <div>
        Quel est le prochain vol que vous souhaitez prendre ?
    </div>

    <hr/>

    <div ng-if="$ctrl.planes.length > 0" class="plane-list">
      <div ng-repeat="plane in $ctrl.planes track by $index" ng-init="$show = false"  ng-click="$show = !$show" class="plane-info">
        <div>
          <span>{{ plane.departure.location }} {{ plane.departure.hours }}</span>
          <span></span>
          <span>{{ plane.arrival.location }} {{ plane.arrival.hours }}</span>
        </div>

        <div ng-show="$show">
          plus de détail ici
          <button class="button">Valider</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

