<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/hotel.png) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <h1 class="text-center"> Mmmh j'ai trouvé des infos sur votre vol</h1>
        <h2 class="text-center">AF 6006</h2>
      </div>
    </div>


    <div class="list padding row row-center">
      <div>{{ $ctrl.title }}</div>
      <div>{{ $ctrl.message }}</div>
    </div>
    <div class="padding ">
      <button ng-click="$ctrl.gotoNextFlySelection()" class="button button-full button-assertive ink">Valider</button>
    </div>
  </ion-content>
</ion-view>
