<ion-view view-title="Hotels" style="height:40%; border:black 1px solid;">
  <ion-content scroll="false">
    <div>
      <h1>MAP</h1>


      <!--<ion-nav-buttons side="left">-->
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
      <!--</ion-nav-buttons>-->

      <!--<ion-nav-buttons side="right">-->
        <!--<button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>-->
      <!--</ion-nav-buttons>-->

      <ion-content data-tap-disabled="true">

        <leaflet defaults="$ctrl.map.defaults" center="$ctrl.map.center" markers="$ctrl.map.markers"></leaflet>

      </ion-content>

      [{{$ctrl.map}}]


  </ion-content>
</ion-view>


<div class="bar bar-footer">
  <div class="row">
    <smt-wallet-footer money="$ctrl.userSrv.computeMoney()"
                       network-data="$ctrl.userSrv.networkData"></smt-wallet-footer>
  </div>
</div>


