<ion-view view-title="TransportSelection">
  <ion-content scroll="false">
    <h1>transport</h1>
    <div ng-if="$ctrl.hasTransport()" class="list transport">

      <a class="item item-icon-left" ng-if="$ctrl.getTransportIndex('bus')" ng-click="$ctrl.selectTransport($ctrl.getTransportIndex('bus'))">
        <i class="icon ion-{{ $ctrl.iconSrv.transport.bus }}"></i>
        <span class="transport-label"> Transport en commun </span> ~ {{$ctrl.getTransportIndex('bus').time }} minutes
        <span class="item-note">
        {{ $ctrl.getTransportIndex('bus').price}} €
        </span>
      </a>

      <a class="item item-icon-left" ng-if="$ctrl.getTransportIndex('taxi')" ng-click="$ctrl.selectTransport($ctrl.getTransportIndex('taxi'))">
        <i class="icon ion-{{ $ctrl.iconSrv.transport.taxi }}"></i>
        <span class="transport-label">{{ $ctrl.getTransportIndex('taxi').type }}</span> ~ {{$ctrl.getTransportIndex('taxi').time }} minutes
        <span class="item-note">
        {{ $ctrl.getTransportIndex('taxi').price}} €
        </span>
      </a>

      <a class="item item-icon-left" ng-if="$ctrl.getTransportIndex('vtc')" ng-click="$ctrl.selectTransport($ctrl.getTransportIndex('vtc'))">
        <i class="icon ion-{{ $ctrl.iconSrv.transport.vtc }}"></i>
        <span class="transport-label">{{$ctrl.getTransportIndex('vtc').type }}</span> ~ {{$ctrl.getTransportIndex('vtc').time }} minutes
        <span class="item-note">
        {{ $ctrl.getTransportIndex('vtc').price}} €
        </span>
      </a>
    </div>

    <smt-map-destination ng-if="$ctrl.hasTransport()" markers="$ctrl.markers" paths="$ctrl.paths" entity-destination=""></smt-map-destination>

  </ion-content>
</ion-view>
<div class="bar bar-footer">
  <div class="row">
    <smt-wallet-footer money="$ctrl.userSrv.computeMoney()" network-data="$ctrl.userSrv.networkData"></smt-wallet-footer>
  </div>
</div>


