<ion-view view-title="">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/problem.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/lapin.jpg');"></div>
                <h3 ng-show="!bot"><a class="light">mmmh </a></h3>
                <h4 class="padding-horizontal">{{ bot }}</h4>
              <div class="row">
                <div class="row">

                  <div class="col"></div>
                  <div class="col col-50"  >
                    <div ng-if="!listeEntity.data">
                      <button ng-click="yes()" class="button button-full button-assertive ink">
                        Oui
                      </button>
                      <button ng-click="no()" class="button button-full button-assertive ink">
                        Non
                      </button>
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
              </div>
            </div>

        </div>
      <ul class="timeline" >
        <li ng-click="getdetail(entity)" ng-repeat="entity in listeEntity">
          <div class="timeline-thumb bg-color-red  timeline-icon">
            <i class="ion-android-plane"></i>
          </div>
          <div class="timeline-item">
            <h4>Depart : {{ entity.departure.location}} à {{ entity.departure.hours}} h </h4>
            <p>Arrivé à {{ entity.arrival.location}} - {{ entity.arrival.hours}}</p>
            <div class="timeline-stats">
              <i class="ion-android-plane"></i>N° {{ entity.flyNumber}}
            </div>
          </div>

      </ul>
      <div ng-if="detail">
        <div class="card">
          <div class="item item-divider">
            I'm a Header in a Card!
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
          <div class="item item-divider">
            I'm a Footer in a Card!
          </div>
        </div>
      </div>

    </ion-content>
</ion-view>
